@import '../modal-styles';

.regular-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;

    &.open {
        display: block;
    }

    & .dialog {
        @include modalDialog;
    }

    .backdrop {
        @include modalBackdrop;
    }

    & .body.templated-body {
        display: none;
    }

    &.body-is-template {
        & .body {
            &.templated-body {
                display: block;
            }

            &:not(.templated-body) {
                display: none;
            }
        }
    }
}