/* You can add global styles to this file, and also import other style files */
@import '../../../styles';

$console-font-family: 'Courier New', Courier, monospace;
$console-font-size: 14px;
$toolbar-height: 1.5em;
$input-area-height: 1.5em;

@mixin ngcButton {
    outline: none;
    border: none;
    background: none !important;
    cursor: pointer;
    opacity: 0.7;

    &:not(:last-of-type) {
        margin-left: 0.25em;
    }

    &:hover {
        opacity: 1;
    }

    &.pushed {
        color: $color-secondary;
    }
}

.ngc-btn {
    @include ngcButton();
}