<div class="input-area">
    <div class="column buttons">
        <button (click)="on.toggleCompletionsList()" class="completions-list-btn ngc-btn" [title]="'Toggle input completions (' + view.optAltKeyName + ' + C)'"
            [ngClass]="{ 'pushed': view.showCompletionsList }">
            <aq4w-icon name="(c)complete"></aq4w-icon>
        </button>
        <button (click)="on.toggleHistory()" class="history-btn ngc-btn" [title]="'Toggle input history (' + view.optAltKeyName + ' + Shift)'"
            [ngClass]="{ 'pushed': view.showHistory }">
            <aq4w-icon name="(fa)fas.history"></aq4w-icon>
        </button>
    </div>
    <div class="column textbox" #textbox>
        <input type="text" spellcheck="false" (keydown)="on.keystroke($event)" #textboxInput>
        <span class="suggested-completion" [ngStyle]="{ 'transform': style.suggestedCompletion.transform }">{{ view.suggestedCompletion }}</span>
    </div>
</div>
<ngconsole-floating-list [bfname]="'historyTextbox'"
    [queryMatches]="view.historyQueryMatches"
    [show]="view.showHistory"
    [leftPx]="style.history.left"
    [selectedIndex]="view.selectedHistoryIndex"
    [searchString]="view.historySearch"
    (keystroke)="on.historyKeystroke($event)"
    (itemClicked)="on.historyItemClicked($event)">
    <input type="text" spellcheck="false" [attr.data-name]="'historyTextbox'" #bufferFloatTextbox>
</ngconsole-floating-list>

<ngconsole-floating-list [bfname]="'completionsListTextbox'"
    [queryMatches]="view.completionsListQueryMatches"
    [show]="view.showCompletionsList"
    [leftPx]="style.completionsList.left"
    [selectedIndex]="view.selectedCompletionsListIndex"
    [searchString]="view.completionsListSearch"
    (keystroke)="on.completionsListKeystroke($event)"
    (itemClicked)="on.completionsListItemClicked($event)">
    <input type="text" spellcheck="false" [attr.data-name]="'completionsListTextbox'" #bufferFloatTextbox>
</ngconsole-floating-list>
