/* cheapicons version 10.115.1 */
@font-face { font-family: cheapicons; src: url(cheapicons_101151.woff) format("woff"); }
.cheapicons { font-family: 'cheapicons'; }
.cheapicons.abacus2:before { content: "\23"; }
.cheapicons.briefcase:before { content: "\24"; }
.cheapicons.briefcase2:before { content: "\25"; }
.cheapicons.checkcircle:before { content: "\26"; }
.cheapicons.chip:before { content: "\27"; }
.cheapicons.crosscircle:before { content: "\28"; }
.cheapicons.cube:before { content: "\29"; }
.cheapicons.dial:before { content: "\2A"; }
.cheapicons.disasm3:before { content: "\2C"; }
.cheapicons.fastforward:before { content: "\2D"; }
.cheapicons.float:before { content: "\2E"; }
.cheapicons.lightbulbalt:before { content: "\2F"; }
.cheapicons.pause:before { content: "\31"; }
.cheapicons.play:before { content: "\32"; }
.cheapicons.power3:before { content: "\33"; }
.cheapicons.search:before { content: "\34"; }
.cheapicons.searchminus:before { content: "\35"; }
.cheapicons.searchplus:before { content: "\36"; }
.cheapicons.settings:before { content: "\37"; }
.cheapicons.stepforward:before { content: "\38"; }
.cheapicons.stop:before { content: "\39"; }
.cheapicons.undo:before { content: "\3A"; }
.cheapicons.workspace:before { content: "\3B"; }
.cheapicons.briefcaseup2:before { content: "\3D"; }
.cheapicons.briefcasedown:before { content: "\3E"; }
.cheapicons.lift:before { content: "\3F"; }
.cheapicons.drop:before { content: "\40"; }
.cheapicons.lightbulb2:before { content: "\41"; }
.cheapicons.stepforward2:before { content: "\42"; }
.cheapicons.fastforward2:before { content: "\43"; }
.cheapicons.briefcase4:before { content: "\44"; }
.cheapicons.settings2:before { content: "\45"; }
.cheapicons.disk3:before { content: "\46"; }
.cheapicons.disks5:before { content: "\47"; }
.cheapicons.shrink:before { content: "\48"; }
.cheapicons.expand:before { content: "\49"; }
.cheapicons.clear:before { content: "\4A"; }
.cheapicons.download:before { content: "\4B"; }
.cheapicons.empty:before { content: "\4C"; }
.cheapicons.sourcefile:before { content: "\4D"; }
.cheapicons.caretright:before { content: "\4E"; }
.cheapicons.caretdown:before { content: "\4F"; }
.cheapicons.cross:before { content: "\50"; }
.cheapicons.bars:before { content: "\51"; }
.cheapicons.disassemble:before { content: "\52"; }
.cheapicons.rename:before { content: "\53"; }
.cheapicons.complete:before { content: "\54"; }
.cheapicons.configuration:before { content: "\55"; }
.cheapicons.jsonfile:before { content: "\56"; }
.cheapicons.dock:before { content: "\57"; }
.cheapicons.dockalt:before { content: "\58"; }
.cheapicons.lightningbolt:before { content: "\59"; }
.cheapicons.heart:before { content: "\5A"; }
.cheapicons.hearthalf:before { content: "\5B"; }
.cheapicons.heartempty:before { content: "\5C"; }
.cheapicons.dialog:before { content: "\5D"; }