@import '../../../../../styles';

.tabs {
    border-right: 1px solid $color-primary;
    height: 100%;

    & button {
        background: none;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
        display: block;
        width: 100%;

        &:not(:last-of-type) {
            border-bottom: 1px solid $color-primary;
        }

        &.active-tab-btn {
            background: $color-primary;
        }
    }
}